@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div class="text-center">
        <h1 class="display-4">Welcome dotnetters</h1>
        <div class="test">
            <div class="screen">@Model.Screen</div>
            <div class="what">
                <button class="button" type="submit" name="button" value="(">(</button>
                <button class="button" type="submit" name="button" value=")">)</button>
                <button class="button" type="submit" name="button" value="%">%</button>
                <button class="button" type="submit" name="button" value="CE">CE</button>
            </div>
            <div class="what">
                <button class="button" type="submit" name="button" value="7">7</button>
                <button class="button" type="submit" name="button" value="8">8</button>
                <button class="button" type="submit" name="button" value="9">9</button>
                <button class="button" type="submit" name="button" value="/">/</button>
            </div>
            <div class="what">
                <button class="button" type="submit" name="button" value="4">4</button>
                <button class="button" type="submit" name="button" value="5">5</button>
                <button class="button" type="submit" name="button" value="6">6</button>
                <button class="button" type="submit" name="button" value="*">*</button>
            </div>
            <div class="what">
                <button class="button" type="submit" name="button" value="1">1</button>
                <button class="button" type="submit" name="button" value="2">2</button>
                <button class="button" type="submit" name="button" value="3">3</button>
                <button class="button" type="submit" name="button" value="-">-</button>
            </div>
            <div class="what">
                <button class="button" type="submit" name="button" value="0">0</button>
                <button class="button" type="submit" name="button" value=".">.</button>
                <button type="submit" name="button" value="=" class="equals">=</button>
                <button class="button" type="submit" name="button" value="+">+</button>
            </div>
        </div>
    </div>
</form>
